<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>login</title>
    	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css' />
	    <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

	    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css' />
	    <script src='http://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.js'></script>

	    <script src='http://cdn.rawgit.com/turban/Leaflet.Sync/0.0.5/L.Map.Sync.js'></script>

		<link rel= "stylesheet" type = "text/css"
		    href = "{{ url_for('static', filename = 'style.css') }}">

		<link rel= "stylesheet" type = "text/css"
		    href = "{{ url_for('static', filename = 'bootstrap.min.css') }}">    
	</head>

	<body>
   	<div class="container-fluid">
	    <h2>Login</h2>

            <a href="/" target="blank"><button class='btn btn-default'>Start</button></a>





	   

	
  	

  	</div> <!-- ./container --> 
  </body>
</html>
